RedirectMatch 301 ^/2014/06/23/running-itunes-lldb/.*$                  http://www.xs-labs.com/en/blog/2014/06/24/itunes-yosemite-lldb/
RedirectMatch 301 ^/2014/03/08/apple-1-replica-tumblr/.*$               http://www.xs-labs.com/en/blog/2014/03/08/apple-1-replica-tumblr/
RedirectMatch 301 ^/2013/10/27/apple-1-replica-project-started/.*$      http://www.xs-labs.com/en/blog/2013/10/27/apple-1-replica-project-started/
RedirectMatch 301 ^/2013/10/20/apple-1-replica/.*$                      http://www.xs-labs.com/en/blog/2013/10/20/apple-1-replica-project/
RedirectMatch 301 ^/2013/10/20/iconic-photographic-tribute/.*$          http://www.xs-labs.com/en/blog/2013/10/20/iconic-photographic-tribute/
RedirectMatch 301 ^/2013/10/20/vintage-computer-collection/.*$          http://www.xs-labs.com/en/blog/2013/10/20/vintage-computer-collection/
RedirectMatch 301 ^/2013/08/16/coding-style-guide/.*$                   http://www.xs-labs.com/en/blog/2013/08/16/coding-style-guide/
RedirectMatch 301 ^/2013/08/06/code-optimisations/.*$                   http://www.xs-labs.com/en/blog/2013/08/06/optimising-memset/
RedirectMatch 301 ^/2013/07/15/manual-github/.*$                        http://www.xs-labs.com/en/blog/2013/07/15/manual-github/
RedirectMatch 301 ^/2013/06/18/strategies-support-ios7-ui/.*$           http://www.xs-labs.com/en/blog/2013/06/18/ios7-new-ui-strategies/
RedirectMatch 301 ^/2013/06/17/filesystem-security-ios-7/.*$            http://www.xs-labs.com/en/blog/2013/06/17/ios7-new-filesystem-security/
RedirectMatch 301 ^/2013/06/10/wwdc-2013-new/.*$                        http://www.xs-labs.com/en/blog/2013/06/10/wwdc-2013-whats-new/
RedirectMatch 301 ^/2013/04/28/xs-labs/.*$                              http://www.xs-labs.com/en/blog/2013/04/28/xs-labs/
RedirectMatch 301 ^/2013/04/26/spring-cleaning/.*$                      http://www.xs-labs.com/en/blog/2013/04/26/spring-cleaning/
RedirectMatch 301 ^/2012/08/19/codeine-diagnostics-code-completion/.*$  http://www.xs-labs.com/en/blog/2012/08/19/codeine-diagnostics-completion/
RedirectMatch 301 ^/2012/08/15/announcing-codeine/.*$                   http://www.xs-labs.com/en/blog/2012/08/15/announcing-codeine/
RedirectMatch 301 ^/2012/08/06/apple-world/.*$                          http://www.xs-labs.com/en/blog/2012/08/06/apple-vs-world/
RedirectMatch 301 ^/2012/05/27/apple-kills-filesystem-app/.*$           http://www.xs-labs.com/en/blog/2012/05/27/apple-kills-filesystem-app/
RedirectMatch 301 ^/2012/04/20/mac-os-mountain-lion-screens/.*$         http://www.xs-labs.com/en/blog/2012/04/20/osx-mountain-lion-screens/
RedirectMatch 301 ^/2012/01/16/mixing-c-cobjective-c/.*$                http://www.xs-labs.com/en/blog/2012/01/16/mixing-cpp-objective-c/
RedirectMatch 301 ^/2012/01/10/warning-flags-clang/.*$                  http://www.xs-labs.com/en/blog/2012/01/10/warning-flags-clang/
RedirectMatch 301 ^/2012/01/05/webstart-1-3-0/.*$                       http://www.xs-labs.com/en/blog/2012/01/05/webstart-1-3-0/
RedirectMatch 301 ^/2012/01/05/apps-mac-appstore/.*$                    http://www.xs-labs.com/en/blog/2012/01/05/little-apps-on-appstore/
RedirectMatch 301 ^/2012/01/03/unix-manual-pages/.*$                    http://www.xs-labs.com/en/blog/2012/01/03/unix-man-pages/
RedirectMatch 301 ^/2012/01/03/webstart-1-2-0-released/.*$              http://www.xs-labs.com/en/blog/2012/01/03/webstart-1-2-0/
RedirectMatch 301 ^/2011/09/13/xcode-build-number-svn/.*$               http://www.xs-labs.com/en/blog/2011/09/13/xcode-build-number-svn/
RedirectMatch 301 ^/2011/08/23/icloud-migration-mobileme/.*$            http://www.xs-labs.com/en/blog/2011/08/23/icloud-migration/
RedirectMatch 301 ^/2011/07/29/c-const-static-keywords/.*$              http://www.xs-labs.com/en/blog/2011/07/29/c-const-static-keywords/
RedirectMatch 301 ^/2011/05/31/job-2/.*$                                http://www.xs-labs.com/en/blog/2011/05/31/new-job/
RedirectMatch 301 ^/2011/05/31/book-selection/.*$                       http://www.xs-labs.com/en/blog/2011/05/31/book-selection/
RedirectMatch 301 ^/2011/05/03/gdb-assembly-debugging/.*$               http://www.xs-labs.com/en/blog/2011/05/31/new-job/
RedirectMatch 301 ^/2011/04/20/function-call-stack-windows/.*$          http://www.xs-labs.com/en/blog/2011/04/20/c-call-stack-windows/
RedirectMatch 301 ^/2011/04/20/big-thing-xsfoundation/.*$               http://www.xs-labs.com/en/blog/2011/04/20/xsfoundation/
RedirectMatch 301 ^/2011/04/07/face-detection-iphone/.*$                http://www.xs-labs.com/en/blog/2011/04/07/face-detection-iphone/
RedirectMatch 301 ^/2011/04/02/migration-github/.*$                     http://www.xs-labs.com/en/blog/2011/04/04/migration-github/
RedirectMatch 301 ^/2011/03/17/275/.*$                                  http://www.xs-labs.com/en/blog/2011/03/17/cpu-64bits-check/
RedirectMatch 301 ^/2011/03/14/webstart-mac-os-lion/.*$                 http://www.xs-labs.com/en/blog/2011/03/14/webstart-osx-lion/
RedirectMatch 301 ^/2011/03/10/webstart-next/.*$                        http://www.xs-labs.com/en/blog/2011/03/10/webstart-whats-new/
RedirectMatch 301 ^/2011/03/05/osx-fat-binaries/.*$                     http://www.xs-labs.com/en/blog/2011/03/05/osx-fat-binaries/
RedirectMatch 301 ^/2011/03/01/finder-wallpaper/.*$                     http://www.xs-labs.com/en/blog/2011/03/01/finder-wallpaper/
RedirectMatch 301 ^/2011/02/28/selling-software/.*$                     http://www.xs-labs.com/en/blog/2011/02/28/selling-software/
RedirectMatch 301 ^/2011/02/24/mac-os-lion-server-side/.*$              http://www.xs-labs.com/en/blog/2011/02/24/osx-lion-server/
RedirectMatch 301 ^/2011/02/24/mac-os-lion-screens/.*$                  http://www.xs-labs.com/en/blog/2011/02/24/osx-lion-screens/
RedirectMatch 301 ^/2011/02/18/interview-apple/.*$                      http://www.xs-labs.com/en/blog/2011/02/18/interview-apple/
RedirectMatch 301 ^/2011/02/16/mwc-barcelona/.*$                        http://www.xs-labs.com/en/blog/2011/02/16/mwc-barcelona/
RedirectMatch 301 ^/2011/02/14/webstart-light/.*$                       http://www.xs-labs.com/en/blog/2011/02/14/webstart-light/
RedirectMatch 301 ^/2011/02/13/webstart-installer-ready/.*$             http://www.xs-labs.com/en/blog/2011/02/13/webstart-installer/
RedirectMatch 301 ^/2011/02/07/webstart-announced/.*$                   http://www.xs-labs.com/en/blog/2011/02/07/webstart-announced/
RedirectMatch 301 ^/2011/02/05/arm-architecture/.*$                     http://www.xs-labs.com/en/blog/2011/02/05/arm-architecture/
RedirectMatch 301 ^/2011/02/05/webstart/.*$                             http://www.xs-labs.com/en/blog/2011/02/05/webstart/
RedirectMatch 301 ^/2011/02/04/compiler-optimizations/.*$               http://www.xs-labs.com/en/blog/2011/02/04/about-compiler-optimizations/
RedirectMatch 301 ^/2011/02/04/xcode-build-settings/.*$                 http://www.xs-labs.com/en/blog/2011/02/04/xcode-build-settings/
RedirectMatch 301 ^/2011/02/03/filesystem-iphone/.*$                    http://www.xs-labs.com/en/blog/2011/02/03/filesystem-iphone/
RedirectMatch 301 ^/2011/02/01/freeware-siege-gui/.*$                   http://www.xs-labs.com/en/blog/2011/02/01/next-freeware-siege-gui/
RedirectMatch 301 ^/2011/02/01/minor-updates/.*$                        http://www.xs-labs.com/en/blog/2011/02/01/minor-updates/
RedirectMatch 301 ^/2011/02/01/release-processrenicer/.*$               http://www.xs-labs.com/en/blog/2011/02/01/process-renicer-release/
RedirectMatch 301 ^/2011/01/31/laws-simplicity/.*$                      http://www.xs-labs.com/en/blog/2011/01/31/laws-simplicity/
RedirectMatch 301 ^/2011/01/31/nslog-ansi-c/.*$                         http://www.xs-labs.com/en/blog/2011/01/31/nslog-ansi-c/
RedirectMatch 301 ^/2011/01/30/xeos-memory-allocator-llvm/.*$           http://www.xs-labs.com/en/blog/2011/01/30/xeos-memory-allocator-llvm/
RedirectMatch 301 ^/2011/01/30/vps-switch/.*$                           http://www.xs-labs.com/en/blog/2011/01/30/vps-switch/
RedirectMatch 301 ^/2011/01/30/job-opportunity-apple/.*$                http://www.xs-labs.com/en/blog/2011/01/30/job-opportunity-apple/
RedirectMatch 301 ^/2011/01/30/job/.*$                                  http://www.xs-labs.com/en/blog/2011/01/30/looking-for-a-job/
RedirectMatch 301 ^/2011/01/29/process-renicer/.*$                      http://www.xs-labs.com/en/blog/2011/01/29/process-renicer/
RedirectMatch 301 ^/2011/01/29/reverse-string-search/.*$                http://www.xs-labs.com/en/blog/2011/01/29/c-reverse-string-search/
RedirectMatch 301 ^/2011/01/29/hello-world/.*$                          http://www.xs-labs.com/en/blog/2011/01/29/hello-world/
        
RedirectMatch 301 ^/feed/.*$                                            http://www.xs-labs.com/feed/rss.php

RedirectMatch 301 /.*$                                                  http://www.xs-labs.com/en/blog/
